#Copyright (C) 2016 Hewlett Packard Enterprise Development LP

[Unit]
Description=OpenSwitch Loop-protect Module Daemon
After=ovsdb-server.service ops-init.service

[Service]
Type=forking
ExecStartPre=/bin/rm -f /var/run/openvswitch/loop-protectd.pid
ExecStart=/sbin/ip netns exec swns /usr/bin/loop-protectd --detach --pidfile -vSYSLOG:INFO
PIDFile=/var/run/openvswitch/loop-protectd.pid
Restart=on-abort

[Install]
WantedBy=multi-user.target
